*{
    margin: 0;
}

nav{
    background-color: aqua;
}

.menu{
    text-align: center;
    margin: 0;
}

.menu li{
    display: inline-block;
}

.menu a{
    padding: 45px; /*separar los bloques*/
    color: blue;
    text-decoration: none;
    display: block;
}

.menu a:hover{
    background-color: chartreuse;
}

.entrada{
    background-color: forestgreen;
    color: lightsalmon;
    text-align: center;
    overflow: hidden;/*quitar el espacio sup*/
    padding: 50px;
}

.contorno{
    text-align: center;
    font-family: Arial black;
    font-weight: bold;
    font-size: 30px;
    color: coral;
    text-shadow: 0 0 3px #8E59A9;
    text-transform: uppercase;
}

.foto{
    width:10%;
    height: 10%;
}

caption{
    font-size: 20px;
    color: #79a959;
    caption-side: top;
}

table{
    width: 50%;
    margin: 0 auto;
    border-spacing: 0;
}

.cabeza td{
    background-color: rgb(47, 107, 102);
    font-size: 120%;
}

td, tr{
    width: 25%;
    text-align: center;
    border: 0.5px solid rgb(42, 165, 147);
    padding: 2px;
}

footer img{
    width: 20px;
    height: 20px;
}